/*
 * 编写flex 通用的布局方式，方便以后调用
 * 2017 - 04 -08
 */
 
.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-col{
	display: flex;
	flex-direction: column;
}

/*justify-content 主轴方向*/
/*两端对齐，项目之间的间隔都相等*/
.flex-sb-c,
.flex-jc-sb{
	justify-content: space-between;
}

/*每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍*/
.flex-sa-c,
.flex-jc-sa{
	justify-content: space-around;
}

/*水平居中，主轴方向居中*/
.flex-center,
.flex-jc-center{
	justify-content: center;
}

/*右对齐*/
.flex-jc-fe{
	justify-content: flex-end;
}

/*交叉轴的中点对齐，如： row时 垂直方向*/
.flex-center,
.flex-sb-c,
.flex-sa-c,
.flex-ai-center{
	align-items: center;
}

/*交叉轴的终点对齐。*/
.flex-ai-fe{
	align-items: flex-end;
}

/*占满剩余空间*/
.flex-1{
	flex: 1;
}

/*align-self属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性*/
.flex-as-fe{
	align-self: flex-end;
}






