// listTitle 高度
$titleHeight: 56px;
// listRow 高度
$rowHeight: 56px;

.listTitle{
	height: $titleHeight;
	background: #c0e2fa;
	margin-top: 12px;
	div{
		color: #383c44;
		font-size: 18.4px;
		@extend .flex-row-center;
	}
}
.listCtr{
	overflow: auto;
	background: $bjColor;
	.listRow{
		height: $rowHeight;
		background: #fff;
		@extend .bd-b;
		// transition: background-color .8s;
		// &:hover{
		// 	background-color: #e7ebee;
		// }
		
		div{
			@extend .flex-row-center;
			color: #64666a;
		}
	}
}