// 离顶部的高度 即导航条高度
$top: $heightBar;
// scrollBtn 高度
$btnHeight: 48px;
$color: #858383;

.scrollCtr{
	width: 100%;
	overflow: hidden;
	.scrollBtn{
		// padding-top: $top;
		height: $btnHeight;
		color: $color;
		font-size: 16.8px;
		background: #fff;
		img{
			width: 24px;
			height: 24px;
			margin-right: 22px;
		}
		.active{
			color: #d62823;
		}
		.scrollBar{
			width: 50%;
			height: 2px;
			background: #d62823;
			transition: left .15s;
		}
	}
	.scrollList{
		width: 200%;

	}
	.trans{
		transition: transform .6s;
	}
}
