

.applyTitle{
	height: .56rem;
	margin-bottom: .2rem;
	background: #fff;
	font-size: .18rem;
	color: $activeColor;
	img{
		width: .24rem;
		height: .24rem;
		margin-left: .24rem;
		margin-right: .11rem;
	}
}

.infoTitle{
	height: .56rem;
	font-size: .18rem;
	color: #627c8e;
	background: #c0e2fa;
	img{
		width: .24rem;
		height: .24rem;
		margin-right: .11rem;
	}
}